.link-button {
    background: none; 
    border: none; 
    color: #29b4f5; 
    cursor: pointer; 
    text-decoration: underline;
    font-size: inherit;
    padding: 0;
    font-family: inherit;
}

.link-button:hover {
    color: #8FD9FB;
}