.bought{
    text-decoration: line-through;
    text-decoration-color: black;
}

.ignored {
    color: lightgrey;
}

.bought,
.ignored,
.active {
    width: 100%;
    margin: 0;
    background: #E0F4FF;
    box-sizing: border-box;
    position: relative;
    z-index: 2; 
}