.basket-show-container{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.basket-show-top{
    width: 100%;
}


.basket-show-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;  
}
.item-submit-form{
    display:flex;
    align-items: center;
    margin: 12px 0;
    
}
.item-input-box {
    /* padding: 0px 10px; */
    width: 100%;
    height: 2rem;
    flex:9;
    background-color: white;
    border: none; 
    border-radius: 8px;
    align-content: center;
}
.add-button {
    flex:1;
    background:none;
    color: blue;
    font-size: 30px;
    border: none;
}

.list-container{
    width:100%;
    text-align:left;
}