#NavBar-container{ 
top: 0;
flex:1;
left: 10px;
right: 10px;
height: 80px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
box-sizing: border-box;
}

.Navbar-symbol{
    height: 50px;
    font-size:60px;
    display:flex;
    align-items: center;
}

.hamburger{
    display: flex;
    width: 60px;
    height:100%;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    cursor: pointer;   
    border: none;
}

.hamburger span{
    width: 100%;
    height: 12px;
    border-radius: 8px;
    background-color: #313b41;
    transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1){
    transform: translateY(10px) rotate(45deg);
}

.hamburger.open span:nth-child(2){
    opacity:0;
}

.hamburger.open span:nth-child(3){
    transform:translateY(-11px) rotate(-45deg);
}