#NavBar-container{
    display:flex;
    flex-direction: column;
}
.navigation-container{
display:flex;
justify-content: flex-end;
}

#NavBar-body{ 
top: 0;
flex:1;
left: 0px;
right: 0px;
height: 100px;
display: flex;
align-items: center;
justify-content: space-between;
box-sizing: border-box;
}

.Navbar-symbol{
    font-size:60px;
    display:flex;
    align-items: center;
}

.NavBar-info {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px
}

