@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #8FD9FB;Medium blue */
    /* background-color: #A5E0FC; Slightly lighter */
    /* background-color: #B8E8FD;Even lighter */
    /* background-color: #CCEEFF;  Much lighter */
    background-color: #E0F4FF; /* Very light */
    /* background-color: #F0F9FF; Almost white */
    font-family: 'Poppins', sans-serif;
    /* color: #1a237e; */
    color: #263238;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px 20px 20px;
    text-align: center;
    
}