@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 60px;
    font-family: 'Poppins', sans-serif;
    background-color: #E0F4FF; /* Very light */
    color: #263238;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    place-items: unset;
    justify-content: center;
}
main {
    width: 100%;
    height: 90vh;
    max-width: 400px;
    margin: 0 auto;
    padding: 0px 20px 20px 20px;
    text-align: center;
    display:flex;
    flex-direction: column; 
    justify-content:space-between ;
}

.route-container {
    flex:6;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}